## 머신러닝 
- 정형 데이터를 다룰 때 유리
- 표의 형태를 구성하는 데이터

## 딥러닝
- 정형, 비정형, 준정형 모두

In [4]:
# datasets 모듈 : 사이킷런의 예제 데이터가 들어있다.
from sklearn.datasets import load_iris

iris_data = load_iris()
type(iris_data)

sklearn.utils._bunch.Bunch

In [5]:
iris_data.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [8]:
# data - feature
# Bunch : 기본적으로 dict와 매우 비슷한 구조. key를 통한 접근을 `.`을 통해서 할 수 있다.

# iris_data.data 와 동일
iris_data["data"][:3] # Bunch 스타일

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2]])

In [ ]:
# shape 확인
iris_data["data"].shape

# 150개, 4종류

(150, 4)

In [ ]:
# target(label)
iris_data["target"]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [ ]:
# target_names(클래스의 이름)
iris_data["target_names"]

# 0 -> setosa ,1 -> versicolor , 2 -> virginica
# 배열의 인덱스는 클래스가 된다.

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [ ]:
# feature_names(각 특성의 이름)
iris_data["feature_names"]

# sepal : 꽃 받침 , petal : 꽃 잎

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [ ]:
# 데이터 프레임으로 정리
import pandas as pd

iris_df = pd.DataFrame(data = iris_data["data"], columns = iris_data["feature_names"])
iris_df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [ ]:
# 데이터 프레임에 타겟 정보 추가
iris_df['target'] = iris_data["target"]
iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0