# 시리즈 메서드
- append - 2개 이상의 시리즈 연결
- describe - 요약 통계량 계산
- drop_duplicates - 중복값이 없는 시리즈 반환
- get_values - 시리즈 값 구하기 (values 속성과 동일)
- isin - 시리즈에 포함된 값이 있는지
- mean - 평균값 반환
- equals - 시리즈에 해당 값을 가진 요소가 있는지 확인
- sort_values - 값을 정렬
- to_frame - 시리즈를 데이터프레임으로 변환

In [1]:
import pandas as pd

In [3]:
a = ["A", "B", "C"]
b = "D"
a.append(b) # 끝에 하나더 추가할 수 있음
a

['A', 'B', 'C', 'D']

In [3]:
a = ["A", "B", "C"]
b = ["D", "E", "F"]
a.append(b) # D,E,F를 하나의 값으로 끝에 추가됨 [[]] 형태
a

['A', 'B', 'C', ['D', 'E', 'F']]

In [8]:
mpg = pd.read_csv('mpg.csv')
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [5]:
mpg.describe() # 요약통계치 확인가능

            displ         year         cyl         cty         hwy
count  234.000000   234.000000  234.000000  234.000000  234.000000
mean     3.471795  2003.500000    5.888889   16.858974   23.440171
std      1.291959     4.509646    1.611534    4.255946    5.954643
min      1.600000  1999.000000    4.000000    9.000000   12.000000
25%      2.400000  1999.000000    4.000000   14.000000   18.000000
50%      3.300000  2003.500000    6.000000   17.000000   24.000000
75%      4.600000  2008.000000    8.000000   19.000000   27.000000
max      7.000000  2008.000000    8.000000   35.000000   44.000000

In [6]:
mpg.cty.drop_duplicates() # 중복값을 지워줌

0      18
1      21
2      20
4      16
10     19
11     15
12     17
18     14
19     11
21     13
22     12
33     22
54      9
99     28
100    24
101    25
102    23
104    26
212    33
221    35
222    29
Name: cty, dtype: int64

In [13]:
mpg.cty.values # .get_values()는 더이상 사용이 안됨

array([18, 21, 20, 21, 16, 18, 18, 18, 16, 20, 19, 15, 17, 17, 15, 15, 17,
       16, 14, 11, 14, 13, 12, 16, 15, 16, 15, 15, 14, 11, 11, 14, 19, 22,
       18, 18, 17, 18, 17, 16, 16, 17, 17, 11, 15, 15, 16, 16, 15, 14, 13,
       14, 14, 14,  9, 11, 11, 13, 13,  9, 13, 11, 13, 11, 12,  9, 13, 13,
       12,  9, 11, 11, 13, 11, 11, 11, 12, 14, 15, 14, 13, 13, 13, 14, 14,
       13, 13, 13, 11, 13, 18, 18, 17, 16, 15, 15, 15, 15, 14, 28, 24, 25,
       23, 24, 26, 25, 24, 21, 18, 18, 21, 21, 18, 18, 19, 19, 19, 20, 20,
       17, 16, 17, 17, 15, 15, 14,  9, 14, 13, 11, 11, 12, 12, 11, 11, 11,
       12, 14, 13, 13, 13, 21, 19, 23, 23, 19, 19, 18, 19, 19, 14, 15, 14,
       12, 18, 16, 17, 18, 16, 18, 18, 20, 19, 20, 18, 21, 19, 19, 19, 20,
       20, 19, 20, 15, 16, 15, 15, 16, 14, 21, 21, 21, 21, 18, 18, 19, 21,
       21, 21, 22, 18, 18, 18, 24, 24, 26, 28, 26, 11, 13, 15, 16, 17, 15,
       15, 15, 16, 21, 19, 21, 22, 17, 33, 21, 19, 22, 21, 21, 21, 16, 17,
       35, 29, 21, 19, 20, 20, 21, 18, 19, 21, 16, 18, 17])

In [15]:
mpg.cty.isin([18, 29]) # 인자값이 해당 데이터 속 값이 있는지 확인할 수 있음 (있으면 true, 없으면 false)

0       True
1      False
2      False
3      False
4      False
       ...
229    False
230    False
231    False
232     True
233    False
Name: cty, Length: 234, dtype: bool

In [16]:
mpg.cty.mean() # 평균값

16.858974358974358

In [19]:
mpg.cty.equals([18])

False

In [23]:
mpg_sp = mpg.cty

In [24]:
mpg.cty.equals(mpg_sp) # 두 객체가 완벽히 같을 경우 True, 요소의 타입이 다르더라도 False를 반환합니다

True

In [26]:
mpg_sp.sort_values() # 오름차순으로 정렬, 내림차순으로도 설정 가능

59      9
54      9
69      9
65      9
126     9
       ..
99     28
196    28
222    29
212    33
221    35
Name: cty, Length: 234, dtype: int64

In [27]:
mpg_sp.to_frame() # 데이터프레임 형태로 변환해줌

     cty
0     18
1     21
2     20
3     21
4     16
..   ...
229   19
230   21
231   16
232   18
233   17

[234 rows x 1 columns]