In [37]:
import pandas as pd

# 임의의 날짜 범위 생성
dates = pd.date_range(start='2023-01-01', end='2023-01-07')

# 임의의 데이터 값 생성
data = [10, 15, 12, 8, 9, 13, 11]

# 데이터프레임 생성
df = pd.DataFrame(data, index=dates, columns=['Value'])

# 데이터프레임 출력
print(df)

            Value
2023-01-01     10
2023-01-02     15
2023-01-03     12
2023-01-04      8
2023-01-05      9
2023-01-06     13
2023-01-07     11

# first
- 첫 번째 날짜

In [41]:
first_date = df.index[0]
print(first_date)

2023-01-01 00:00:00

# last
- 마지막 날짜

In [42]:
last_date = df.index[-1]
print(last_date)

2023-01-07 00:00:00

# first business day of the month
- 월의 첫 영업일

In [43]:
from pandas.tseries.offsets import BMonthBegin

first_business_day = df.index + BMonthBegin()
print(first_business_day)

DatetimeIndex(['2023-01-02', '2023-02-01', '2023-02-01', '2023-02-01',
               '2023-02-01', '2023-02-01', '2023-02-01'],
              dtype='datetime64[ns]', freq=None)

# last business day of the year
- 해의 마지막 영업일

In [44]:
from pandas.tseries.offsets import BYearEnd

last_business_day = df.index + BYearEnd()
print(last_business_day)

DatetimeIndex(['2023-12-29', '2023-12-29', '2023-12-29', '2023-12-29',
               '2023-12-29', '2023-12-29', '2023-12-29'],
              dtype='datetime64[ns]', freq=None)

# resample
- 재샘플링: 예시 - 주 단위로 평균 계산

In [45]:
df.resample('W').mean()

                Value
2023-01-01  10.000000
2023-01-08  11.333333